<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}Chat4Love{% endblock %}</title>
</head>
<body>
    <header>
            Welcome to Chat4Love, {{ username }}!
    </header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='message-box.css') }}">

    <div id="msg-box">
        {% for msg in messages %}
            <div id="{{ msg._id }}" class="msg {{ loop.cycle('light', 'dark') }}">
            <p class="msg-content">{{ msg.content }}</p>
    </div>
        {% endfor %}
    </div>

    <form id="msg-form">
        <input id="message" type="text" placeholder="Enter message...">
        <input type="submit" value="Send">
    </form>
</body>

<script type="text/javascript">
    var msg_input = document.getElementById("message")

    document.getElementById("msg-form").onsubmit = function(e) {
        e.preventDefault()
        send_message()
    }

    function send_message() {
        var msg_box = document.getElementById("msg-box")

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                msg_box.innerHTML = this.responseText;
                msg_input.value = "";
                msg_box.scrollTo(0, msg_box.scrollHeight);
            }
        };

        var msg = msg_input.value
        var url = '{{ url_for("send_message") }}?&msg=' + msg
        xhttp.open('GET', url, true);
        xhttp.send();
    }

    function refresh() {
        var msg_box = document.getElementById("msg-box")

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                msg_box.innerHTML = this.responseText;
                msg_box.scrollTo(0, msg_box.scrollHeight);
            }
        };
        var url = '{{ url_for("get_messages") }}'
        xhttp.open('GET', url, true);
        xhttp.send();

    }

    refresh();

    </script>
</html>